

.main {
	// width:1170px;
	// margin: 100px 0 0 33px;
}

/* Стили для сладера */

.sl__img {
  width: 250px;
  // height: auto;
  // margin-left: 90px;
}
.sl__slide img{
    width: auto;
    height: 150px;
    margin: 0 auto;
}

.sl__slide {
	// margin: 19px;
}

.sl__text {
	color: #fff;
	text-align: center;
  font-size: 16px;
  font-weight: 100;
  font-style: italic;
  width: 300px;
  margin: 0 auto;
	// border: 10px solid #192530;
	// background: #192530;
	// width: 190px;
}

.sl__zag{
}
h4{
  margin: 20px;
  color: #92c800;
}


/*Адаптивность картинок и видео*/
img{
  // max-width: 100%;
  // height: 50px;
  // background-size: contain;
  // height: auto;
}

/*Адаптивность*/

// @media (min-width: 1200px) {
// img { width:auto; }
// .slick-slide img { width:100%; }

