
.main {
	// width:880px;
	// margin: 100px 0 0 33px;
}

/* Стили для сладера */

.sl4__img {
	// border: 10px solid #141b26;
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.sl4__slide {
	// margin: 22px;
	// background: #192530;
  outline: none;

}

.sl4__text {
	// color: #fff;
	text-align: center;
  color: #444444;
  margin-bottom: 15px;
	// border: 10px solid #192530;
	// background: #192530;
	// width: 100%;
}

.sl4__zag, .sl4__desc {
}

/*Адаптивность картинок и видео*/
img{
  // max-width: 100%;
  // height: auto;
}

/*Адаптивность*/

// @media (min-width: 1200px) {
// img { width:auto; }
// .slick-slide img { width:100%; }